﻿<html>

<body>
	<script>
		// Used by oauthPopupActions.ts
		window.opener.postMessage(
			{ type: "popup-callback", url: window.location.href },
			// TODO: set a proper origin.
			"*"
		)
	</script>
</body>

</html>