@{
    string baseUrl = UrlHelper.GetBaseUrl(Context.Request);
    string authClientId = Environment.GetEnvironmentVariable("NOTION_AUTH_CLIENTID");
    string embedlyKey = Environment.GetEnvironmentVariable("NOTION_EMBEDLY_KEY");
}
		<!DOCTYPE html>
		<html lang="en" class="notion-html">
			<head>
				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
				<title>Notion – The all-in-one workspace for your notes, tasks, wikis, and databases.</title>
				<meta name="description" content="A new tool that blends your everyday work apps into one. It's the all-in-one workspace for you and your team">
				
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@@NotionHQ">
		<meta name="twitter:title" content="Notion – The all-in-one workspace for your notes, tasks, wikis, and databases.">
		<meta name="twitter:description" content="A new tool that blends your everyday work apps into one. It's the all-in-one workspace for you and your team">
		<meta name="twitter:url" content="https://www.notion.so">
		<meta name="twitter:image" content="https://www.notion.so/images/meta.png">
	
				
		<meta property="og:site_name" content="Notion">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.notion.so">
		<meta property="og:title" content="Notion – The all-in-one workspace for your notes, tasks, wikis, and databases.">
		<meta property="og:description" content="A new tool that blends your everyday work apps into one. It's the all-in-one workspace for you and your team">
		<meta property="og:image" content="https://www.notion.so/images/meta.png">
		<meta property="og:locale" content="en_US">
	
				
		<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="apple-touch-icon" href="/images/logo-ios.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-itunes-app" content="app-id=1232780281">
	
				
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
	
				<link href="/all-8232e155a44a234b9c12.css" rel="stylesheet"><link href="/all-1b36f10ff1cea3b367ad.css" rel="stylesheet"><link href="/print-b31f28aad44bf6e14d20-media_cHJpbnQ=.css" rel="stylesheet" media="print"></head>
			<body class="notion-body">
				
		<style>
			/* Used so electron will render a white background. */
			body {
				background: white;
			}
			/* NOTE(slim): This was originally added to get the loading spinner to use a dark mode background. */
			/* Reverting 08/01/2019 to fix issue with /login theming. */
            /*
			body.dark {
				background: rgb(47,52,55);
			}
            */
 			.initial-loading-spinner {
				-webkit-animation: rotate 1000ms linear infinite;
				animation: rotate 1000ms linear infinite;
				-webkit-transform-origin: center center;
				transform-origin: center center;
				width: 1em;
				height: 1em;
				opacity: 0.5;
				display: block;
				pointer-events: none;
			}
 			@@-webkit-keyframes rotate {
				0% {
					-webkit-transform: rotate(0deg) translateZ(0);
					transform: rotate(0deg) translateZ(0);
				}
				100% {
					-webkit-transform: rotate(360deg) translateZ(0);
					transform: rotate(360deg) translateZ(0);
				}
			}
 			@@keyframes rotate {
				0% {
					-webkit-transform: rotate(0deg) translateZ(0);
					transform: rotate(0deg) translateZ(0);
				}
				100% {
					-webkit-transform: rotate(360deg) translateZ(0);
					transform: rotate(360deg) translateZ(0);
				}
			}
		</style>
		<div id="initial-loading-spinner" style="position: absolute;top:0px;bottom:0px;left:0px;right:0px;display:flex;align-items:center;justify-content:center;opacity:0;">
			<div class="initial-loading-spinner" style="width: 24px; height: 24px;">
				<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" width="100%" height="100%" viewBox="0 0 24 24" version="1.1" data-ember-extension="1">
					<defs>
							<linearGradient x1="28.1542969%" y1="63.7402344%" x2="74.6289062%" y2="17.7832031%" id="linearGradient-1">
									<stop stop-color="rgba(164, 164, 164, 1)" offset="0%"/>
									<stop stop-color="rgba(164, 164, 164, 0)" stop-opacity="0" offset="100%"/>
							</linearGradient>
					</defs>
					<g id="Page-1" stroke="none" stroke-width="1" fill="none">
							<g transform="translate(-236.000000, -286.000000)">
									<g transform="translate(238.000000, 286.000000)">
											<circle id="Oval-2" stroke="url(#linearGradient-1)" stroke-width="4" cx="10" cy="12" r="10"/>
											<path d="M10,2 C4.4771525,2 0,6.4771525 0,12" id="Oval-2" stroke="rgba(164, 164, 164, 1)" stroke-width="4"/>
											<rect id="Rectangle-1" fill="rgba(164, 164, 164, 1)" x="8" y="0" width="4" height="4" rx="8"/>
									</g>
							</g>
					</g>
				</svg>
			</div>
		</div>
		<script type="text/javascript">
			var isElectron = typeof global !== "undefined" || window.__isElectron
			var isCordova = /Cordova/.test(navigator.userAgent)
			var isReactNative = /ReactNative/.test(navigator.userAgent)
			var showSpinner = isCordova || isElectron || isReactNative
			if (showSpinner) {
				var spinner = document.getElementById("initial-loading-spinner")
				if (spinner) {
					spinner.style.opacity = 1
				}
			}
		</script>
	
				<script type="text/javascript">
        function getCurrentTheme() {
    const defaultTheme = "light";
    const localThemeKey = "theme";
    const themeRecord = localStorage.getItem(localThemeKey);
    if (themeRecord) {
        const theme = JSON.parse(themeRecord);
        if (theme && theme.mode) {
            return theme.mode;
        }
    }
    return defaultTheme;
}
        if (getCurrentTheme() === "dark") {
            document.body.classList.add("dark")
        }
    </script>
				<div id="notion-app"></div>
			<script type="text/javascript">window.CONFIG = {
  env: "production",
  isAdminMode: false,
  isLocalhost: true,
  offline: true,
  version: "21.0.43",
  baseURL: "@baseUrl",
  protocol: "notion",
  lastUpdatedTime: 1552346521098,
  api: { http: "/api/v3" },
  googleOAuth: { clientId: "@authClientId" },
  messageStore: { url: "/", api: "/api/v1" },
  pricing: {
    invoiceDaysUntilDue: 30,
    free: {
      spaceBlockLimit: 1e3,
      fileUploadMaxBytes: 5e6
    },
    personal: {
      productId: "prod_CpavZFCbxF2YGx",
      monthlyPrice: 500,
      yearlyPrice: 4800
    },
    team: {
      productId: "prod_CpawK4ih14xs4t",
      monthlyPricePerMember: 1e3,
      yearlyPricePerMember: 9600
    },
    enterprise: { productId: "prod_Cpb8M1AFEFhdy1" }
  },
  desktopS3: { url: "https://s3-us-west-2.amazonaws.com/desktop-release.notion-static.com" },
  publicFileS3: {
    url: "https://s3-us-west-2.amazonaws.com/public.notion-static.com",
    bucket: "public.notion-static.com"
  },
  temporaryFileS3: {
    url: "https://s3-us-west-2.amazonaws.com/temporary.notion-static.com",
    bucket: "temporary.notion-static.com"
  },
  secureFileS3: {
    url: "https://s3-us-west-2.amazonaws.com/secure.notion-static.com",
    bucket: "secure.notion-static.com"
  },
  loggly: { token: "loggly" },
  embedly: { key: "@embedlyKey" }
};</script><script type="text/javascript" src="/pdf-extra-285cab246cec5e7d08f5.js"></script><script type="text/javascript" src="/vendors-dabd10533b59f7b4ffd5.js"></script><script type="text/javascript" src="/app-57a77e7e6c6a66328a28.js"></script></body>
		</html>
	